* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #333;
}

.navbar {
  background-color: #fff;
}

.logo {
  width: 220px;
  padding: 26px 26px 26px 0;
}

.btn-nav {
  border: none;
  background-color: transparent;
  color: #333 !important;
}

.icon-nav {
  width: 22px;
  height: 22px;
  color: #333 !important;
}

.nav-icons {
  gap: 18px;
}

.nav-link {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 18px;
}

.banner {
  height: 90vh;
  background-image: url("../resources/couch-4-md.jpg");
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 77%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-shop {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 44px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-shop:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

.welcome-section {
  max-width: 900px;
  margin: 100px auto;
}

.welcome-link {
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
}

.welcome-link:hover {
  color: #555;
  cursor: pointer;
}

.featured-section {
  margin-bottom: 100px;
}

.featured-row {
  height: 650px;
}

@keyframes hoverchange {
  from {
    transform: scale(1);
    filter: opacity(100%);
  }
  to {
    transform: scale(1.1);
    filter: opacity(40%);
  }
}

.feature-block {
  border: 6px solid #fff;
  overflow: hidden;
  height: 650px;
  padding: 0 !important;
}

.feature-block-nested {
  border: 6px solid #fff;
  height: 325px;
  overflow: hidden;
  padding: 0 !important;
}

.feature-img-1 {
  background-image: url("../resources/server.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 93%;
  height: 325px;
}

.feature-img-2 {
  background-image: url("../resources/chair-6-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  height: 325px;
}

.feature-img-3 {
  background-image: url("../resources/wood-vases.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 800px; */
  background-position: 80% 90%;
  height: 325px;
}

.feature-img-4 {
  background-image: url("../resources/chair-desk-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-text-4 {
  display: none;
  color: #333;
  background-color: #fff;
  width: 100%;
}

.feature-img-4:hover,
.feature-img-1:hover,
.feature-img-2:hover,
.feature-img-3:hover {
  cursor: pointer;
  animation-name: hoverchange;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.new-section {
  margin-bottom: 100px;
}

.new-img {
  height: 300px;
  background-color: #333;
  border: 8px solid #fff;
}

.collection-section {
  background-color: #e3e3e3;
}

.col-img {
  height: 400px;
  background-color: #333;
  border: 12px solid #e3e3e3;
}

/* .subscribe-section {
  background-color: #adab9e;
} */

.footer {
  background-color: #333;
  color: #adab9e;
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.social-links {
  display: flex;
  gap: 18px;
  padding: 28px 0;
}

.social-icon {
  height: 22px;
  width: 22px;
}

.footer-link {
  color: #adab9e;
  text-decoration: none;
  line-height: 3;
}

.footer-link:hover {
  color: #c4c1b2;
}

.logo-footer {
  width: 160px;
}

.copyright {
  max-width: 230px;
}

.address {
  max-width: 200px;
  padding-top: 11px;
}

.footer-heading {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.801);
}

.col-img-1 {
  background-image: url("../resources/collection-1.jpg");
  background-size: cover;
  background-position: 70% 70%;
}

.col-img-2 {
  background-image: url("../resources/collection-3.jpg");
  background-size: cover;
  background-position: 70% 70%;
}

.col-img-3 {
  background-image: url("../resources/collection-4.jpg");
  background-size: cover;

  background-position: 70% 70%;
}

.col-img-4 {
  background-image: url("../resources/collection-2.jpg");
  background-size: cover;
}

.banner-contact {
  height: 60vh;
  background-image: url("../resources/coffee.jpg");
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-contact {
  color: #fff;
  letter-spacing: 4px;
  font-size: 54px;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
}

.contacts-list a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.568);
}

.contact-icon {
  font-size: 32px;
  color: rgba(51, 51, 51, 0.705);
  padding-bottom: 22px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contact-section {
  background-color: #e3e3e3;
}

.contact-input {
  border: none;
  padding: 12px;
  border-radius: 5px;
}

.btn-contact-form {
  margin-top: 22px;
  text-transform: uppercase;
  padding: 22px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  letter-spacing: 2px;
}

.heading-secondary-contact {
  margin-bottom: 32px;
}

/* .lookbook-img-1,
.lookbook-img-2,
.lookbook-img-3 {
  background-color: #555;
} */
/* .lookbook-section {
  grid-template-columns: 1fr 1fr 1fr;
} */

/* .lookbook-section div {
  background-color: #555;
  border: 4px solid #fff;
  width: 33%;
} */

@keyframes hoverscale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}

.gallery-item {
  overflow: hidden;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item img:hover {
  animation-name: hoverscale;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.lookbook-img-1 {
  height: 600px;
}

.lookbook-img-7 {
  height: 600px;
}
.lookbook-img-2 {
  height: 300px;
}
.lookbook-img-3 {
  height: 500px;
}

.lookbook-img-4 {
  height: 300px;
}

.lookbook-img-5 {
  height: 450px;
}
.lookbook-img-6 {
  height: 650px;
}
.lookbook-img-8 {
  height: 800px;
}

.lookbook-col-1 {
  width: 35%;
}
.lookbook-col-2 {
  width: 30%;
}
.lookbook-col-3 {
  width: 35%;
}

.lookbook-col-1 div,
.lookbook-col-2 div,
.lookbook-col-3 div {
  background-color: #fff;
  border: 6px solid #fff;
}

.about-img {
  background-image: url(../resources/about.jpg);
  background-size: cover;
  /* height: 200px; */
  /* background-position: 50% 100%; */
}

.banner-about {
  height: 60vh;
  background-image: url("../resources/workshop.jpg");
  background-size: cover;
  background-color: #333;
  background-position: 50% 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-about {
  color: #fff;
  letter-spacing: 4px;
  font-size: 54px;
}

.about-workshop-img-1 {
  background-image: url("../resources/workshop-5.jpg");
  background-size: cover;
  height: 450px;
  border: 12px solid #e3e3e3;
  /* filter: grayscale(100%); */
}

.about-workshop-img-2 {
  background-image: url("../resources/workshop-3.jpg");
  background-size: cover;
  background-position: 50% 80%;
  height: 450px;
  border: 12px solid #e3e3e3;
  /* filter: grayscale(100%); */
}

.about-workshop-img-3 {
  background-image: url("../resources/workshop-4.jpg");
  background-size: cover;
  background-position: 50% 90%;
  height: 450px;
  border: 12px solid #e3e3e3;
  /* filter: grayscale(100%); */
}

.about-workshop-img-4 {
  background-image: url("../resources/workshop-2.jpg");
  background-size: cover;
  background-position: 50% 80%;
  height: 450px;
  border: 12px solid #e3e3e3;
  /* filter: grayscale(100%); */
}

.about-nr {
  font-size: 108px;
  font-weight: 700;
  opacity: 25%;
}

.about-heading {
  font-weight: 600;
}

.about-workshop-block-1,
.about-workshop-block-3,
.about-workshop-block-2,
.about-workshop-block-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.about-section {
  background-color: #e3e3e3;
}

.banner-shop {
  height: 60vh;
  background-image: url("../resources/bed.jpg");
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 42%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list {
  list-style: none;
  gap: 32px;
}

.products-section {
  list-style: none;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(4, 22rem);
}

.card-override {
  border-radius: 0 !important;
  border: none;
}

.wishlist-display {
  min-height: 100vh;
}

.carousel-item-override {
  width: 900px;
  height: 600px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-img {
  width: 22rem;
  height: 23rem;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}

.cart-product-img {
  height: 10rem;
  overflow: hidden;
}

.cart-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}

.product-card {
  box-shadow: 0 15px 30px 7px rgb(0 0 0 / 5%);
}
.product-card-cart {
  box-shadow: 0 15px 30px 7px rgb(0 0 0 / 2%);
}

.product-name {
  font-size: 18px;
}

.product-cost {
  font-size: 18px;
  font-weight: 700;
}

.btn-card {
  filter: opacity(60%);
}

.btn-card:hover {
  filter: opacity(100%);
}

.product-headings {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.offcanvas-override {
  min-width: 550px;
}

.wishlist-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cart-heading {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-checkout {
  font-size: 16px;
  background-color: #333;
  color: #fff;
  letter-spacing: 2px;
  padding: 8px 16px;
}

.cart-total {
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.cart-badge {
  font-size: 12px;
}
